NODE_ENV=development
APP_PORT=3001
APP_NAME=Subscription Monitor API
API_PREFIX=api
APP_FALLBACK_LANGUAGE=zh
APP_HEADER_LANGUAGE=x-demo-user-id
FRONTEND_DOMAIN=http://localhost:5173
BACKEND_DOMAIN=http://localhost:3001
